# Copier ce fichier en .env (ignoré par git)
DEBUG=True
SECRET_KEY=django-insecure-dev-key-change-me
ALLOWED_HOSTS=127.0.0.1,localhost
# DATABASE_URL=postgres://user:password@host:port/dbname  # optionnel (Render l'injecte)
